* {
    margin: 0;
    padding: 0;
    font-family: BYekan, 'BYekan', tahoma;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #E7E9E8;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    height: 100vh;
    /* for move footer to end of page*/
}

/* ---------------------------------------------------------------------------------- */

/* HEADER */

.main-header {
    height: 65px;
    display: flex;
    align-items: center;
    width: 100%;
}

.main-header__item {
    color: rgb(144, 144, 144);
    margin: 25px;
}

.main-header__button {
    margin-right: auto;
    /* for justify self to right side */
}

.main-header__logo {
    padding-right: 40px;
    font-size: 120%;
    color: rgb(14, 186, 197);
    font-weight: bold;
}

.main-header__item:hover {
    color: rgb(14, 186, 197);
}

/* -------------------------------------------------------------------------------  */

.hero-nav {
    background-color: #F9583B;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10%;
}

.hero-nav__title {
    color: #FAFAF7;
    font-size: 200%;
    margin-bottom: 40px;
    text-align: center;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-wrapper__input {
    background-color: #F7F8FA;
    border-radius: 10px;
    margin-bottom: 35px;
    border: none;
    text-align: center;
    width: 62%;
    height: 40px;
}

.search-wrapper__input::placeholder {
    color: #C4C5C7;
}

.search-wrapper__button {
    width: 18%;
    height: 3rem;
    color: black;
    border-radius: 24px;
    padding: 0;
    font-weight: bold;
    background: #FFC70E;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    margin-bottom: 30px;
}

.search-wrapper__button:hover {
    color: white;
    background: transparent;
    box-shadow: none;
}

.search-wrapper__button:before, .search-wrapper__button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #FFC70E;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.search-wrapper__button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.search-wrapper__button:hover:before, .search-wrapper__button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.hero-nav__image {
    width: 50%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/*  */

.listing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 98%;
    background-color: white;
    margin-top: 10px;
}

.listing .listing__item {
    margin: 20px;
    color: #7B7B7B;
}

.listing .listing__item.is_active {
    background-color: #009FFF;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    box-shadow: 1px 1px 2px black, 3px 2px 5px #8DD2FA;
}

.page {
    display: flex;
    width: 98%;
    justify-content: space-between;
}

.page__aside {
    flex-basis: 25%;
}

.page__content {
    flex: 75%;
    background-color: brown;
    margin-right: 5px;
}

/* ------------------------------------------------------------------------------- */

/* footer */

footer {
    bottom: 0;
    background-color: #313436;
    color: #878E93;
    text-align: center;
    position: fixed;
    max-width: 1280px;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

footer a {
    color: white;
}

/*  */

.custom-box {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: .1em solid  #b7b8b7;
    height: 53vh;
}

.categories {
    overflow-y: auto; /* for automatic scrollbar */ 
} 

.categories__header {
    font-weight: bold;
    border-bottom: .1em solid #b7b8b7 ;
    padding: 10px;
}

.categories__option {
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.categories__option label {
    cursor: pointer;
    height: 28px;
    top: 0;
}

.categories__option input[type="checkbox"] {
    display: none;
}

.categories__option input[type="checkbox"] + label::before {
    content: "\2714"; /* for tick */
    border: 0.1em solid #E7E9E8 ;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: inline-block;
    padding-right: 0.2em;
    padding-left: 0.2em;
    padding-bottom: 0.4em;
    margin-left: .2em;
    text-align: center;
    vertical-align: bottom;
    color: transparent;
}

.categories__option input[type="checkbox"]:checked + label:before  { /* for select */
    background-color: #009FFF;
    color: white;
}

.categories__option input[type="checkbox"]:checked + label {
    color: #009FFF;
    font-weight: bold;
}
/* 


.categories__option label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

    visibility: hidden;
}

.categories__option input[type="checkbox"]:checked+label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.categories__option input[type="checkbox"]:checked+label:after {
    opacity: 1;
} */