* {
    margin: 0;
    padding: 0;
    font-family: BYekan, 'BYekan', tahoma;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    width: 100%;
}

/* ---------------------------------------------------------------------------------- */

/* HEADER */

.main-header {
    height: 65px;
    display: flex;
    align-items: center;
    width: 100%;
}

.main-header__item {
    color: rgb(144, 144, 144);
    margin: 25px;
}

.main-header__button {
    margin-right: auto; /* for justify self to right side */
}

.main-header__logo {
    padding-right: 40px;
    font-size: 120%;
    color: rgb(14, 186, 197);
    font-weight: bold;
}

.main-header__item:hover {
    color: rgb(14, 186, 197);
}

/* -------------------------------------------------------------------------------  */

.hero-nav {
    background-color: #F9583B;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10%;
}

.hero-nav__title {
    color: #FAFAF7;
    font-size: 200%;
    margin-bottom: 40px;
    text-align: center;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-wrapper__input {
    background-color: #F7F8FA;
    border-radius: 10px;
    margin-bottom: 35px;
    border: none;
    text-align: center;
    width: 62%;
    height: 40px;
}

.search-wrapper__input::placeholder {
    color: #C4C5C7;
}

.search-wrapper__button {
    width: 18%;
    height: 3rem;
    color: black;
    border-radius: 24px;
    padding: 0;
    font-weight: bold;
    background: #FFC70E;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    margin-bottom: 30px;
}

.search-wrapper__button:hover {
    color: white;
    background: transparent;
    box-shadow: none;
}

.search-wrapper__button:before, .search-wrapper__button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #FFC70E;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.search-wrapper__button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.search-wrapper__button:hover:before, .search-wrapper__button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.hero-nav__image {
    width: 50%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* ------------------------------------------------------------------------------- */